@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Oswald:wght@200;400&family=Poppins&family=Silkscreen&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Silkscreen", sans-serif;
}

:root {
  --bg-color: #000000;
  --second-bg-color: #000000;
  --text-color: #fff;
  --main-color: rgb(0, 203, 214);
  --three-bgcolor: rgb(46, 46, 52);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(100px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}
.navbar a:hover {
  color: var(--main-color);
}

.navbar a:first-child {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-content img {
  width: 35vw;
}

.home-img img {
  border-radius: 50%;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  overflow: hidden;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 5.6rem;
  line-height: 1.3;
}

.home-content p {
  font-size: 1.6rem;
}

.home .animasi {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid hsl(0, 0%, 80%);
  animation: type 4s steps(44) 1s, blink 500ms infinite;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  font-size: 3rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}
.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

/* about start */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--bg-color);
}
.about-img img {
  width: 35vw;
  border-radius: 70%;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content {
  background-color: var(--three-bgcolor);
  padding: 30px;
  border-radius: 1.2rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.about-content {
  background-color: th;
  padding: 10px;
  border-radius: 2%;
}
/* service start */

.skill h2 {
  margin-bottom: 5rem;
}

.skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.skill-container .skill-box {
  flex: 1 1 30rem;
  background: var(--bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--second-bg-color);
  transition: 0.5s ease;
}

.skill-container .skill-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

#skill .skill-box {
  background-color: var(--three-bgcolor);
}
.skill-box i {
  font-size: 15rem;
  color: var(--main-color);
}

.skill-box h3 {
  font-size: 2.2rem;
  color: var(--main-color);
}

.skill-box p {
  font-size: 1.6rem;
  margin: 1rem 0 6rem;
}

/* project section start */

.project {
  padding-bottom: 10rem;
}

.project h2 {
  margin-bottom: 4rem;
}

.project .project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.project-container .project-box {
  position: relative;
  display: flex;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.project-box img {
  width: 100%;
  transition: 0.5s ease;
}

.project-box:hover img {
  transform: scale(1.1);
}

.project-box .project-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  opacity: 0;
  transition: 0.5s ease;
}

.project-box:hover .project-layer {
  opacity: 1;
}

.project-layer h4 {
  font-size: 3rem;
}

.project-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.project-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--white-color);
  border-radius: 50%;
}

.project-layer a i {
  font-size: 2rem;
  color: #333;
}

/* section kontak start */

.contact h2 {
  margin-top: -50px;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--three-bgcolor);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn-kirim {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  margin-top: 2rem;
  cursor: pointer;
}
.contact form .btn-loading {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  margin-top: 2rem;
  cursor: pointer;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 35px 10%;
  background: var(--main-color);
}

.footer-text p {
  font-size: 16px;
  color: #f1f6f9;
}

/* /Breakpoints/ */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .home .profession-container {
    height: 85.8rem;
  }
  .home .profession-container .portfolio-box {
    right: -12rem;
    height: 85.8rem;
  }
  .home .portfolio-container .overlay {
    right: -9rem;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .home .portfolio-container .portfolio-box {
    right: -22rem;
  }
  .home .portfolio-container .overlay {
    right: -15rem;
  }
}

@media (max-width: 991px) {
  .navbar a:nth-child(1),
  .navbar a:nth-child(2) {
    color: var(--main-color);
  }
  .navbar a.active::before {
    background: var(--main-color);
    opacity: 0.7;
  }
  .home .home-content {
    max-width: 50rem;
  }

  .home .social-media {
    justify-content: space-evenly;
  }

  .home .home-content .home-box {
    right: -45rem;
  }
  .home .home-container .overlay {
    right: -39.5rem;
  }
  .home-img img {
    max-width: 100%;
    display: block;
    height: auto;
    justify-content: center;
  }
  .home {
    padding: 0 3% 23rem;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
  }
  .home-content h3 {
    font-size: 2.1rem;
  }

  .home-content h1 {
    font-size: 2.1rem;
  }
  .services,
  .porfolio {
    padding-bottom: 7rem;
  }
  .contact {
    min-height: auto;
  }
  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  #modeGelap-icon {
    position: absolute;
    right: 7rem;
    font-size: 2.6rem;
    color: var(--text-color);
    margin-bottom: 0.1rem;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: none;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
  }
  .navbar a:nth-child(1),
  .navbar a:nth-child(2) {
    color: var(--text-color);
  }
  .navbar a.active {
    color: var(--main-color);
  }
  .navbar a::before {
    display: none;
  }
}

/* animasi */

@keyframes blink {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes type {
  from {
    width: 0%;
  }
  to {
    width: 650px;
  }
}
